<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy48gtm-KjNM2ihK0qucKX9UTT5OMmDrk</string>
	<key>GCM_SENDER_ID</key>
	<string>1005313312156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anapolessolutions.aerostationhub</string>
	<key>PROJECT_ID</key>
	<string>tpa-schedule-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tpa-schedule-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005313312156:ios:b3ced46cebd7721dddf459</string>
</dict>
</plist>
